<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Angular Tutorial" %></title>

    <%= stylesheet_link_tag "all", "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
  </head>

  <body class="<%= page_classes %>" ng-app="phonecatApp">
    <div ng-view></div>
    <%= javascript_include_tag  "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js", "https://code.angularjs.org/1.4.8/angular-route.js", "all" %>
  </body>
</html>
