%h1 Angular Play

#phonecatApp
  .container-fluid
    .row
      .col-md-2
        = label_tag :search
        = input_tag :search, "ng-model" => "query"
        = label_tag "Sort by"
        = select_tag :sort, "ng-model" => 'sortPhone', options: { "Newest" => "age", "Alphabetical" => "name"}

      .col-md-10
        %ul.phones
          %li.thumbnail{ "ng-repeat" => "phone in phones | filter:query | orderBy:sortPhone" }
            = link_to '#/phones/{{phone.imageUrl}}', class: "thumb" do
              = tag "img", "ng-src" => '{{phone.imageUrl}}'

            = link_to "{{phone.name}}", '#/phones/{{phone.id}}'
            %p {{phone.snippet}}

          %p Number of phones: {{ phones.length }}
